<div class="paginator">
	<a class="first" href="/{{ global.curpath }}&{{ paginator.first.qs }}">&lt;&lt; Oldest</a><a class="previous" href="/{{ global.curpath }}&{{ paginator.previous.qs }}">&lt; Older</a>
	<a class="last" href="/{{ global.curpath }}&{{ paginator.last.qs }}">Newest &gt;&gt;</a><a class="next" href="/{{ global.curpath }}&{{ paginator.next.qs }}">Newer &gt;</a>
</div>