<div><section class="block">
	<h2>Free Omnicoins</h2>
	<p>A faucet is a free source to omnicoin. It allows you to get hold of a few coins per hour so you have something to play around with. Currently the faucet will pay out between 2 and 20 OMC. Our goal is to spread the word of Omnicoin to everyone on Hackforums and also to give out the pool fees to something useful.</p>
</section>
<section class="block">
	<h2>Roll now</h2>
	<p>Put your address in the field and click roll to get your free coins.</p>
	<form>
		<input id="useraddressfield" placeholder="oYMpwbDq9QLi2W55tUhzWFwQEKaeHaW55e" type="text" /><button class="large mergeleft" style="width: 75px;">Roll</button>
	</form>
	<p>Rewards are sent out every 12 hours. You do not need to leave your wallet running to receive the reward.</p>
</section>
<section class="block">
	<h2>Donate</h2>
	<p>Running a faucet naturally isn't free. We solely rely on donations and pool fees, so if you feel generous, please consider sending a couple of coins our way. If you don't have any omnicoins at hand, you can also send us bitcoins which will be used to buy omnicoins on Allcrypt.</p>
	<p><span class="btcaddress">13RzxmYmU9gZwmia2ZJ71mbrAy3tURmUfz</span><br /><span class="omcaddress">oYMpwbDq9QLi2W55tUhzWFwQEKaeHaW55e</span></p>
</section>
<section class="block">
	<h2>Top Donations</h2>
	<p>Here is a list of the top 5 donators and the amount of coins they have given to the faucet.</p>
	<table>
		<thead><tr><th>User</th><th>Amount</th><th>Time</th></tr></thead>
		<tbody>
			<tr><td>Doctor Blue</td><td>2,500 OMC</td><td>18:40 - June 16, 2014</td></tr>
			<tr><td>Doctor Blue</td><td>2,500 OMC</td><td>18:40 - June 16, 2014</td></tr>
			<tr><td>Doctor Blue</td><td>2,500 OMC</td><td>18:40 - June 16, 2014</td></tr>
			<tr><td>Doctor Blue</td><td>2,500 OMC</td><td>18:40 - June 16, 2014</td></tr>
			<tr><td>Doctor Blue</td><td>2,500 OMC</td><td>18:40 - June 16, 2014</td></tr>
		</tbody>
	</table>
</section>
<div class="clr"></div></div>