<h2>
	<span style="float: left">Address <small>{{ address }}</small></span>
	<span style="float: right">{{ balance }} OMC</span>
</h2>
<span class="clr">&nbsp;</span>

<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Transaction Hash</th>
			<th>Block</th>
			<th>Conf.</th>
			<th>Amount</th>
		</tr>
	</thead>
	<tbody>
		{{# transactions }}
		<tr>
			<td>{{ time }}</td>
			<td>{{{ hash }}}</td>
			<td>{{{ height }}}</td>
			<td>{{ confirmations }}</td>
			<td style="text-align: right">{{{ amount }}} OMC</td>
		</tr>
		{{/ transactions }}
	</tbody>
</table>
{{> paginator }}