<section>
	<h2>Search</h2>
	<p>Look up an address, a transaction id or a block id in the search field. If you don't get any results, try waiting a couple of minutes, it might not have reached the whole network yet.</p>
	<form>
		<span style="white-space: nowrap;"><input type="text" id="bc_searchFld" /><button id="bc_searchBtn" class="large mergeleft" style="width: 98px">Search</button></span>
	</form>
</section>
<section>
	{{{ view }}}
</section>